<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
	<div id="wrapper">
		<div id="topNav">
			<p>Welcome User</p>
			<a href="{% url 'back' %}">Logout</a>
		</div>
		<p>My Wish List</p>
		<table id="myWishList">
			<tr>
				<th>Item</th>
				<th>Price</th>
			</tr>
			<tr>
				<td><a href="#">Example Item</a></td>
				<td>Example Price</td>
			</tr>
		</table>
		<a href="{% url 'add' %}">Add an item</a>

		<p>User's Wish List</p>
		<table id="otherWishList">
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Friend</th>
			</tr>
			<tr>
				<td><a href="#">Example Item</a></td>
				<td>Example Price</td>
				<td><a href="#">Example Friend</a></td>
			</tr>
		</table>
	</div>
</body>
</html>