<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script>
		$(document).ready(function() {
	    // put all your jQuery goodness in here.
	    	console.log('Ready');
		});

		// Load the SDK asynchronously
	  	(function(d, s, id) {
	    	var js, fjs = d.getElementsByTagName(s)[0];
	    	if (d.getElementById(id)) return;
	    	js = d.createElement(s); js.id = id;
	    	js.src = "//connect.facebook.net/en_US/sdk.js";
	    	fjs.parentNode.insertBefore(js, fjs);
	  	}(document, 'script', 'facebook-jssdk'));

	  	window.fbAsyncInit = function() {
	  	FB.init({
	    	appId      : '1490918607882331',
	    	cookie     : true,  // enable cookies to allow the server to access 
	                        // the session
	    	xfbml      : true,  // parse social plugins on this page
	    	version    : 'v2.2' // use version 2.2
	  	});

	  	// Now that we've initialized the JavaScript SDK, we call 
	  	// FB.getLoginStatus().  This function gets the state of the
	  	// person visiting this page and can return one of three states to
	  	// the callback you provide.  They can be:
	    // 1. Logged into your app ('connected')
	  	// 2. Logged into Facebook, but not your app ('not_authorized')
	  	// 3. Not logged into Facebook and can't tell if they are logged into
	  	//    your app or not.
	  
	  	// These three cases are handled in the callback function.

		 // FB.getLoginStatus(function(response) {
	  //    	statusChangeCallback(response);
	  //  	});

 	 };

	function fbLogout() {
        FB.logout(function (response) {
            //Do what ever you want here when logged out like reloading the page
            console.log('Logout called!');
            window.location.href = '/';
        });
    }
</script>
	</script>

</head>
<body>
	<div id="wrapper">
		<div id="topNav">
			<p>Welcome {{username}}!</p>
			<a href="{% url 'logout' %}">Logout</a>
			<fb:login-button autologoutlink="true" id='logout'></fb:login-button>
		</div>
		<p>My Wish List</p>
		<table id="myWishList">
			<tr>
				<th>Item</th>
				<th>Action</th>
			</tr>
			{% for item in my_items %}
				<tr>
					<td><a href="#">{{item.item.item}}</a></td>
					<td>
						<form action="{% url 'delete' item.item.id %}" method="POST">
							{% csrf_token %}
							<button>Remove</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href="{% url 'add' %}">Add an item</a>

		<p>User's Wish List</p>
		<table id="otherWishList">
			<tr>
				<th>Item</th>
				<th>Friend</th>
			</tr>
			{% for item in other_items %}
			<tr>
				<td><a href="#">{{item.item.item}}</a></td>
				<td>{{item.item.user.name}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>