<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
	<div id="wrapper">
		<div id="topNav">
			<p>Welcome {{username}}!</p>
			<a href="{% url 'logout' %}">Logout</a>
		</div>
		<p>My Wish List</p>
		<table id="myWishList">
			<tr>
				<th>Item</th>
			</tr>
			{% for item in items %}
				<tr>
					<td><a href="#">{{item.item.item}}</a></td>
				</tr>
			{% endfor %}
		</table>
		<a href="{% url 'add' %}">Add an item</a>

		<p>User's Wish List</p>
		<table id="otherWishList">
			<tr>
				<th>Item</th>
				<th>Friend</th>
			</tr>
			<tr>
				<td><a href="#">Example Item</a></td>
				<td><a href="#">Example Friend</a></td>
			</tr>
		</table>
	</div>
</body>
</html>