<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Product Info</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<style>
		body{
			background: white url("static/home/img/christmas.jpg") no-repeat right bottom;
	}
	h1{
		color: white;
	}
	.white{
		color:white;
	}
	p{
		color:white;
	}
	a{
		color:red;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="text-center">
			<h1>Welcome User</h1>
			<a href="{% url 'back' %}" class='white'>Logout</a>
		</div>
		<div class='text-center'>
			<p>Product Name</p>
			<p>Product Price</p>
			<p>Product Description</p>
			<a href="#">Product Link</a>
		</div>
	</div>
</body>
</html>