<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
		{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- ===========================
    FONTS
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,600|Pacifico' rel='stylesheet' type='text/css'>
    <!-- ===========================
    STYLESHEETS
    =========================== --> 
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
</head>
<body>
	<div id='register'>
		<div class='container'>
			<h2>Sign-up now to start your awesome <span class='highlight'>Christmas!</span></h2>
			<a href="{% url 'index' %}">Back</a>
		</div>
	</div>
	<div class="container">    
        <div id="registrationbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">       	 <div class="panel panel-info" >
	            <div class="panel-heading">
	                <div class="panel-title">Register</div>
	            </div>     
				<div style="padding-top:30px" class="panel-body" >
					<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
	                    <form id="loginform" class="form-horizontal" role="form" action="{% url 'register' %}"  method="POST">
	                    {% csrf_token %}        
	                    	<div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
	                                <input style='margin:0px' id="login-username" type="text" class="form-control" name="name" value="" placeholder="Name">
	                        </div>
	                        <div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                                <input style='margin:0px' id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username">
	                        </div>
	                    	<div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                                <input style='margin:0px' id="login-password" type="password" class="form-control" name="password" placeholder="Password">
                        	</div>
                        	<div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
	                                <input style='margin:0px' id="login-password" type="password" class="form-control" name="confirm" placeholder="Confirm password">
                        	</div>
                        	{% if messages %}
														{% for message in messages %}
															{% if message.extra_tags == 'registration' %}
																	<p class="error" style="color:red">{{message}}</p>
															{% endif %}
														{% endfor %}
													{% endif %}  
	                        <div class="input-group">
	                            <div class="checkbox">
	                                <label>Admin Level: 
										<select id="admin" name="admin">
											<option value="user">User</option>
											<option value="host">Host</option>
										</select>
									</label><br>
	                            </div>
	                        </div>
													<div style="margin-top:10px" class="form-group">
	                            <!-- Button -->
	                            <div class="col-sm-12 controls">
	                              <button id="btn-login" class="btn btn-success">Register</button>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-12 control">
	                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
	                                    Have an account?
	                                <a href='{% url 'login_page' %}'>
	                                    Login Here!
	                                </a>
	                                </div>
	                            </div>
	                        </div>  
	                    </form>     
	                </div>                   
	            </div> 
        	</div>
       	</div> <!-- End of Registration Box -->
    </div> <!-- End of Container -->
	<!-- <div class='container'>
		<div class='text-center'>
			<form class='form-inline' action="{% url 'register' %}" method="POST">
					{% csrf_token %}
				<h3>Register!</h3>
				<div class='form-group'>
					<label>Name:<input type="text" name="name" placeholder='Name'></label>
				</div>
				<div class='form-group'>
					<label>Username:<input type="text" name="username" placeholder='Username'></label>
				</div><br>
				<div class='form-group'>
					<label>Password:<input type="password" name="password" placeholder='DingleBerry'></label> 
				</div>
				<div class='form-group'>
					<label>Confirm:<input type="password" name="confirm" placeholder='DingleBerry'></label>
				</div>
			 		<label>Admin Level: 
						<select id="admin" name="admin">
							<option value="user">User</option>
							<option value="host">Host</option>
						</select>
					</label><br>
				<div class='form-group'>
					<label><button class='btn btn-primary'>Register</button></label>
				</div>
					{% if messages %}
						{% for message in messages %}
							{% if message.extra_tags == 'registration' %}
									<p class="error">{{message}}</p>
							{% endif %}
						{% endfor %}
					{% endif %}
			</form>
		</div>
	</div> -->
	<footer class="container text-center">             
        <h2 class="logo">Secret<span class="highlight">Santa</span></h2>
        <img class="santacap" src="../static/home/img/santa_cap.png" alt="">
        <P>Created by Brian Le and Eugene Mu 	&copy; 2015</P>
       
    </footer><!--FOOTER END-->
</body>
</html>