<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>User's Wishlist</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<style>
		body{
			background: white url("static/home/img/christmas.jpg") no-repeat right bottom;
	}
		h1,h3,p{
			color: white;
		}
		table td,thead, tr{
			color: white;
		}
		a{
			color: red;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="text-center">
			<h1>Welcome {{user}}</h1>
			<a href="{% url 'back' %}">Logout</a>
		</div>
		
		<p>User's Wish List</p>
		<table id="otherWishList">
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Friend</th>
			</tr>
			<tr>
				<td><a href="#">Example Item</a></td>
				<td>Example Price</td>
				<td><a href="#">Example Friend</a></td>
			</tr>
		</table>
	</div>
</body>
</html>