* {
	margin: 0;
	padding: 0;
}
body {font-family: 'Raleway', sans-serif;}
.login{
	text-align: center;
}
.register{
	text-align: center;
}
.highlight {color: #f53f2c;}
h1 {font-size: 138px;}
h2 {font-family: 'Pacifico', cursive;}
h4 {font-weight: 600;}

p {
    font-size: 13px;
    line-height: 1.7em;
    color: #b2b2b2;
}
/* --------------------- 
DASHBOARD SECTION
--------------------- */
#dashboard {
    text-align: center;
    height: 300px;
    color: #fff;
    background: url(../home/img/christmas.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* --------------------- 
ADD SECTION
--------------------- */
#add {
    text-align: center;
    height: 300px;
    color: #fff;
    background: url(../home/img/christmas.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
button {
	color: gold;
}