* {
	margin: 0;
	padding: 0;
}
.login{
	text-align: center;
}
.register{
	text-align: center;
}
/* --------------------- 
DASHBOARD SECTION
--------------------- */
#dashboard {
    text-align: center;
    height: 300px;
    color: #fff;
    background: url(../home/img/christmas.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* --------------------- 
ADD SECTION
--------------------- */
#add {
    text-align: center;
    height: 300px;
    color: #fff;
    background: url(../home/img/christmas.jpg) fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}